.patches-grid {
    display: grid;
    grid-template-columns: 5% repeat(3 1fr) 5%;
    column-gap: 5%;
    margin-bottom: 1em;
}
.patch {
    object-fit: contain;
    height: 300px;
    max-height: 20vh;
    grid-row: 1;
}

.patch.finch {
    grid-column: 2;
}
.patch.utat {
    grid-column: 3;
}
.patch.heron {
    grid-column: 4;
}